<a href="https://colab.research.google.com/github/HebaSedik/machine-learning/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
ls = ["heba" , "heba" ,"heba2"]
#ls = [1,2,3,4,5,6,7]
#ser = pd.Series(ls)
ser = pd.Series(ls,index=['a','b','c'])
print(ls)
print(ser)
print(ser.values)
print(ser.index)
print(ser.unique())

['heba', 'heba', 'heba2']
a     heba
b     heba
c    heba2
dtype: object
['heba' 'heba' 'heba2']
Index(['a', 'b', 'c'], dtype='object')
['heba' 'heba2']

In [2]:
import pandas as pd
ls = [1,2,3,4,5,6,7]
ser = pd.Series(ls)
print(ser)
print(ser.describe())
print(ser.agg(['min']))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64
count    7.000000
mean     4.000000
std      2.160247
min      1.000000
25%      2.500000
50%      4.000000
75%      5.500000
max      7.000000
dtype: float64
min    1
dtype: int64

In [4]:
###serias
import pandas as pd
ls = [1,2,3,4,5,6,7]
frame = pd.DataFrame(ls,index=['a','b','c','d','s','d','f'],columns=['heba'])  #اغير اسامي index
print(frame .describe())
print(frame.index)
print(frame.values)
print(frame.columns)

           heba
count  7.000000
mean   4.000000
std    2.160247
min    1.000000
25%    2.500000
50%    4.000000
75%    5.500000
max    7.000000
Index(['a', 'b', 'c', 'd', 's', 'd', 'f'], dtype='object')
[[1]
 [2]
 [3]
 [4]
 [5]
 [6]
 [7]]
Index(['heba'], dtype='object')

In [5]:
###اضيف اكتر من صف واكتر من عمود
import pandas as pd
lst1 = [1,2,3] ####مينفعش رقم يبدا ب صفر
lst2 = [10,20,30]
lst3 = [100,200,300]
df = pd.DataFrame([lst1,lst2,lst3],columns= ["first",'second','third'])
print(df)

   first  second  third
0      1       2      3
1     10      20     30
2    100     200    300

In [6]:
##  اضيف و ادمج
import pandas as pd
ls = [[1,2],[3,4],[5,6],[7,8]]
ls2 = [["h"],["e"],["b"],["a"]]
df1 =pd.DataFrame(ls,columns=['name','age'])
df2 =pd.DataFrame(ls2,columns=['name2'])
print(df1)
print('\n')
print(df2)
con = pd.concat([df1,df2],axis=1)
print(con)
df1.insert(1 , 'heba' ,[1,3,6,9])
print(df1)

   name  age
0     1    2
1     3    4
2     5    6
3     7    8


  name2
0     h
1     e
2     b
3     a
   name  age name2
0     1    2     h
1     3    4     e
2     5    6     b
3     7    8     a
   name  heba  age
0     1     1    2
1     3     3    4
2     5     6    6
3     7     9    8